@import url(https://db.onlinewebfonts.com/c/7706838253ee4576c2622a94148f1a31?family=MicroSquare+Bold);
@import url(https://db.onlinewebfonts.com/c/d3bfee78e8ead45d9057a95bb6ff5de8?family=Europa-Bold);
@import url(https://db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa+Regular);

:root {
  /* _____________________*COLORS*____________________ */
  --primary-white: #fff;
  --primary-light-grey: #f4f2ed;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-green: #00ed64;
  --primary-dark: #2b2929;
  --primary-dark-blue: #001e2b;
  --primary-black: #000000;
  --primary-hover-red: #f33501;
  /* _____________________*FONTS*____________________ */
  --primary-font: "MicroSquare Bold", sans-serif;
  --generic-font: "Europa Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Europa-Bolder", sans-serif;
}

/* _____________________*SCROLLBAR STYLES*____________________ */

/* width */
::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-dark-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #046f9d;
}

/* _____________________*PORTFOLIO STYLES*____________________ */

/* _____________________NAVBAR STYLES____________________ */
nav {
  z-index: 2;
}

.nav-main {
  padding: 1px !important;
}

.logo {
  width: 20.25rem !important;
}

/* _____________________MENU LINKS____________________ */
.navbar-custom {
  background-color: var(--primary-dark) !important;
}

.nav-contact {
  font-size: 1.5rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* nav ul li {
  text-transform: uppercase;
} */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.nav-experience {
  color: var(--primary-light-grey) !important;
  font-size: 1.125rem !important;
  padding: 0.5rem 2rem !important;
  background-color: transparent;
}

.nav-experience:hover {
  color: var(--primary-green) !important;
}

.nav-contact {
  color: var(--primary-light-grey) !important;
  border: 0.1875rem solid var(--primary-green);
  border-radius: 1.5625rem;
  font-size: 1.125rem !important;
  padding: 0.5rem 2rem !important;
  background-color: transparent;
}

.nav-contact:hover {
  color: var(--primary-dark) !important;
  background-color: var(--primary-green);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

/* _____________________MEDIA QUERY MENU LINKS____________________ */

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }

  .logo {
    margin-top: 0.2rem;
    position: absolute;
    top: 0;
    width: 30% !important;
    height: 5.5119rem;
    object-fit: cover;
  }

  .nav-experience {
    border-top: 0.1875rem solid var(--primary-dark-grey);
    text-align: center;
    margin-top: 2rem !important;
  }
  .nav-contact {
    margin-bottom: 1rem;
    text-align: center;
  }
}
/* _____________________HEADER STYLES____________________ */
.header-wrapper {
  position: relative;
  background: url(../public/assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  overflow: hidden;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-green);
  font-family: var(--primary-font);
  font-weight: 800;
}

/* _____________________MEDIA QUERY HEADER STYLES____________________ */
@media (max-width: 991px) {
  .header-wrapper {
    height: 90vh;
  }
}

/* _____________________TYPED TEXT____________________ */
.typed-text {
  font-size: 1.5rem;
  color: var(--primary-white);
  font-family: var(--generic-font);
  font-weight: 400;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* _____________________LEARN MORE ____________________ */

.learnmore {
  color: var(--primary-white);
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
}

.learnmoretext {
  font-size: 1.2rem;
}

.learnmorearrow {
  font-size: 1.5rem;
  color: var(--primary-light-grey);
  margin-bottom: 2rem;
  transition: 1s;
}

.learnmorearrow:hover {
  font-size: 2rem;
  color: var(--primary-green);
  transition: 0.5s;
}

/* _____________________PARTICLES____________________ */
#tsparticles {
  position: absolute;
  height: 99vh;
  width: 100%;

  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* _____________________ABOUT ME____________________ */
.aboutme-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--primary-light-grey);
}
.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-img {
  width: 10rem;
  margin-top: 2.5rem;
  margin-left: 4rem;
}

.about-heading {
  color: var(--primary-green);
  font-family: var(--primary-font);
  font-weight: 800;
}

.aboutme-description {
  font-family: var(--generic-font);
  font-size: 1.2rem;
}

.engineering-experience {
  font-weight: 800;
}

.programmer-education {
  font-weight: 800;
}

/* _____________________ABOUT ME MEDIA QUERY____________________ */

@media (max-width: 991px) {
  .aboutme-container {
    padding: 0rem;
  }
  .aboutme-img {
    width: 5rem;
    transform: rotate(90deg);
    margin-left: 0;
  }
  .about-me h1 {
    text-align: center;
  }
  .aboutme-description {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1rem;
  }
}

/* _____________________PROJECTS____________________ */

.projects {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  z-index: 2;
  overflow: hidden;
}

.projects h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.projects .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-green);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.projects .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.projects .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-green);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.projects .box:hover {
  background: var(--primary-green);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.projects .box:hover .icon {
  color: var(--primary-dark);
}

.projects .box:hover .circle {
  background: var(--primary-white);
}

.projects .box:hover p {
  color: var(--primary-white);
}

/* _____________________PORTFOLIO____________________ */

.portfolio-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--primary-white);
  overflow: hidden;
}

.portfolio-card {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-card .card-img-top {
  border: 0.0625rem solid var(--primary-light-grey);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  transition: 2s;
  cursor: pointer;
}

.portfolio-heading {
  color: var(--primary-green);
  font-family: var(--primary-font);
  font-weight: 800;
}

div .see-more-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

div .see-morebtn {
  font-size: 1.5rem;
  border: 0.1875rem solid var(--primary-green);
  color: var(--primary-green);
  background-color: transparent;
  border-radius: 1.5625rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a .github-icon {
  margin-right: 10px;
}

div .see-morebtn:hover {
  border: 0.1875rem solid var(--primary-green);
  color: var(--primary-light-grey);
  background-color: var(--primary-green);
}

/* _____________________PORTFOLIO MEDIA QUERY____________________ */
@media (max-width: 768px) {
  .see-morebtn a {
    display: flex;
    flex: 1 1 auto;
  }
}

/* _____________________OVERFLOW____________________ */

.portfolio-content {
  border: solid #000000;
  border-radius: 0.9375rem;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  padding: 2rem;
  top: 0;
  left: -105%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 1s;
}

.card-title {
  margin-bottom: 1rem !important;
}

.card-title,
.portfolio-description {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 800;
}

.portfolio-content .read-more {
  font-family: var(--generic-font);
  font-weight: 200;
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-green);
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0.1875rem;
}

.portfolio-content .read-more:hover {
  font-weight: 800;
}

/* _____________________HOVER OVERFLOW FUNCTIONALLITY____________________ */

@media (hover: hover) {
  /* target only devices that can hover */
  .portfolio-card:hover .portfolio-content,
  .portfolio-card:active .portfolio-content {
    left: 0;
  }
}

/* _____________________MOBILE DIVICES OVERFLOW FUNCTIONALLITY____________________ */

@media (hover: none) {
  /* target only devices that can´t hover */
  .portfolio-card .card-img-top {
    box-shadow: none;
  }
  .portfolio-content {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent;
    border-radius: 0 0 0.9375rem 0.9375rem;
    padding: 0.625rem;
    width: 95%;
    height: auto;
    right: 0;
    bottom: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem !important;
  }

  .portfolio-description {
    font-size: 0.75rem;
  }

  .read-more {
    font-size: 0.75rem;
  }
}

/* _____________________POPUP BOX____________________ */

.popup {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
}

.popup-inner {
  position: relative;
  padding: 2.5rem;
  width: 100%;
  max-width: 40rem;
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.popup-repoName {
  font-family: var(--primary-font);
  font-weight: 800;
  text-align: center;
  font-size: 1.4rem;
}

.popup-repoDescription {
  font-family: var(--generic-font);
  font-weight: 400;
  text-align: justify;
  font-size: 1rem;
}
.popup-repoBuiltWith {
  font-family: var(--generic-font);
  font-weight: 400;
  text-align: left;
  font-size: 0.9rem;
}

.githubRepoLink {
  width: 50%;
  float: left;
}

.deploymentlink {
  width: 50%;
  float: right;
}

.githubRepoLink .read-more,
.deploymentlink .read-more {
  font-size: 1rem;
  font-family: var(--generic-font);
  font-weight: 200;
  cursor: pointer;
  color: var(--primary-green);
  text-decoration: none;
  margin-left: 2rem;
  position: absolute;
  bottom: 2%;
}

.githubRepoLink .icon,
.deploymentlink .icon {
  font-size: 1.5rem;
  position: absolute;
  bottom: 2%;
}

.popup-inner .return-main {
  position: absolute;
  top: 9px;
  right: 12px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 0;
  transition: 0.2s;
}

.popup-inner .return-main:hover {
  font-size: 0.9rem;
  transition: 0.5s;
}

.popup-inner .popup-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid #eee;
  border-radius: 0.9375rem;
  margin-bottom: 0.8rem;
  width: 100%;
  height: auto;
  transition: 2s;
}

/*------------ POPUP MEDIA QUERY ------------------*/
@media (max-width: 768px) {
  /* popup inner links */

  /* ajust font size */
  .popup-repoDescription {
    text-align: left;
    font-size: 0.8rem;
  }
  .githubRepoLink {
    width: 100%;
    float: none;
    margin-bottom: 1rem;
    position: relative;
    bottom: 2%;
  }

  .deploymentlink {
    width: 100%;
    float: none;
    position: relative;
    bottom: 2%;
  }

  .githubRepoLink .icon,
  .deploymentlink .icon {
    font-size: 1.5rem;
    position: relative;
    bottom: 2%;
  }
}

/* _____________________PROJECTS____________________ */

/* .projects {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  z-index: 2;
}

.projects h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.popup-inner .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-green);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.popup-inner .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* .projects .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-green);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
  cursor: pointer;
} */

/* .projects .box:hover {
  background: var(--primary-green);
  border-bottom: 0.3125rem solid var(--primary-dark);
} */

/* .popup-inner .circle:hover .icon {
  color: var(--primary-dark);
}

.popup-inner .circle:hover a {
  color: var(--primary-white);
} */

/*------------ MEDIA ------------------*/
@media (max-width: 768px) {
  /* popup image */
  .portfolio-image-popupbox {
    width: 100%;
  }
  .popup {
    height: 100%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .portfolio-image-popupbox {
    width: 30%;
  }
}

/* _____________________EXPERIENCE____________________ */

.experience {
  position: relative;
  padding: 0.7rem;
  z-index: 1;
  background-color: var(--primary-light-grey);
}

.experience-wrapper {
  position: relative;
  padding: 1.125rem 0;
  overflow: hidden;
}
.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
  overflow: hidden;
}

.experience h1 {
  font-family: var(--primary-font);
  font-weight: 800;
  color: var(--primary-green);
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-green);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.database-orms {
  font-weight: 900;
  font-family: var(--primary-font);
  font-size: 1.4rem;
}

.timeline-content h2 {
  margin-top: 0.3125rem;
  color: var(--primary-green);
  font-family: var(--primary-font);
  font-weight: 900;
}

.timeline-content p {
  margin-top: 0.3125rem;
  color: var(--primary-dark-blue);
  font-family: var(--generic-font);
  font-size: 1.2rem;
}

.timeline-content ul > li {
  font-size: 1.5rem;
  font-family: var(--generic-font);
}

/* _____________________ MEDIA QUERY EXPERIENCE____________________ */

@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper {
    padding: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}
/* _____________________ CONTACT FORM ____________________ */

.contact-form {
  display: flex;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form .greeting-message {
  font-size: 2.5rem;
  font-family: var(--primary-font);
}

nav .nav-home {
  font-size: 1.5rem;
  text-align: center;
  transition: 1s;
  color: var(--primary-light-grey);
}

nav .nav-home:hover {
  font-size: 2rem;
  transition: 0.5s;
  color: var(--primary-green);
}
/* _____________________ CONTACT FORM INPUTS ____________________ */

.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0.125rem solid var(--primary-light-grey);
  color: var(--primary-green);
  outline: 0 !important;
  box-shadow: 0 !important;
  top: 0;
  font-size: 1.2rem;
  font-family: var(--primary-font) !important;
}

.contact-form label {
  font-size: 1.2rem;
  font-family: var(--primary-font) !important;
  color: var(--primary-dark-grey);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: transparent;
  color: var(--primary-green);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contact-form textarea {
  height: 12.2rem;
  margin-bottom: 0;
}

.contact-form .message-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.contact-form .btn-main-offer {
  border: 0.0625rem solid var(--primary-green);
  color: var(--primary-green);
  border-radius: 3.125rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  width: 40%;
  text-decoration: none;
  background-color: transparent;
  opacity: 0.8;
  font-size: 1.2rem;
  font-family: var(--primary-font) !important;
  margin-top: 0.9rem;
}

.contact-form .btn-main-offer:hover {
  background-color: var(--primary-green);
  color: var(--primary-light-grey);
  transition: 0.2s ease-in-out;
}

.error-message {
  color: var(--primary-grey);
  text-align: left;
  font-family: var(--generic-font);
  font-size: 1rem;
}

.success-message {
  font-size: 1.5rem;
  color: var(--primary-green);
  font-family: var(--generic-font);
  margin-bottom: 1.5rem;
}

/* _____________________ CONTACT FORM MEDIA QUERY ____________________ */

@media (max-width: 768px) {
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form .greeting-message {
    font-size: 1.5rem;
  }
}

/* _____________________ FOOTER ____________________ */

.footer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--primary-green);
}

.intro-footer {
  position: absolute;
  display: flex;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light-grey);
  background-color: var(--primary-dark-blue);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  z-index: 1;
}

.footer-contact-btn {
  background-color: transparent;
  border: 0.125rem solid var(--primary-green);
  border-radius: 1.5625rem;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  margin: 3rem 3.125rem;
  font-family: var(--generic-font);
  text-decoration: none;
  color: var(--primary-light-grey);
}

.footer-contact-btn:hover {
  background-color: var(--primary-green);
  color: var(--primary-dark);
}

.lets-connect {
  margin: 3rem 3rem 0 0;
}

.chat-invite {
  margin: 3rem 3rem 0 0;
}

.footer-position {
  background-color: var(--primary-light-grey);
  height: 20vh;
}

div .footer-logo {
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-top: 3rem;
}

.back-header img {
  width: 20%;
  height: auto;
  margin-bottom: 2rem;
}

.motto {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--primary-light-grey);
}

.social-link a {
  text-decoration: none;
  color: var(--primary-light-grey);
  cursor: pointer;
  transition: 1s;
  margin: 0.9rem;
  border-radius: 50px;
  padding: 1.5rem 0.9rem 0.9rem 0.9rem;
  border: 2px solid var(--primary-light-grey);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

.social-link a:hover {
  color: var(--primary-dark-blue);
  font-size: 1.1rem;
  transition: 0.5s;
  border: 2px solid var(--primary-dark-blue);
}

.github a {
  color: var(--primary-light-grey);
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
  margin: 0.9rem;
  border-radius: 50px;
  padding: 1.5rem 0.9rem 0.9rem 0.9rem;
  border: 2px solid var(--primary-light-grey);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

.github a:hover {
  color: var(--primary-dark-blue);
  font-size: 1.1rem;
  transition: 0.5s;
  border: 2px solid var(--primary-dark-blue);
}
.handcrafted,
.made-with {
  color: var(--primary-light-grey);
  font-family: var(--generic-font);
}

.handcrafted {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.my-name {
  font-family: var(--primary-font);
  font-weight: bold;
}

.made-with {
  font-size: 0.9rem;
  margin: 2rem auto;
  margin-left: auto;
  margin-right: auto;
}

.boostrap-logo,
.react-logo {
  padding: 0 0 0 0.9rem;
}

/* _____________________ FOOTER MEDIA QUERY ____________________ */

@media (max-width: 1180px) {
  .intro-footer {
    flex-direction: column;
  }

  .back-header img {
    width: 50%;
  }

  .lets-connect {
    font-size: 1.2rem;
    margin: 0.2rem 0 0 0;
    padding: 0rem;
  }
  .chat-invite {
    font-size: 0.9rem;
    margin: 0.9rem 0 1rem 0;
    padding: 0rem;
  }
  .footer-contact-btn {
    font-size: 1rem;
    margin: 0 0 0.8rem 0 !important;
  }
}
